<ion-content>
  <ion-loading #ionLoading spinner="circles"></ion-loading>
  <form
    id="reset-password-form"
    (ngSubmit)="onResetPasswordClicked()"
    [formGroup]="PostData"
    class="content ion-padding"
  >
    <div class="ion-text-center">
      <img src="assets/icon/E-nvit.jpg" />
    </div>
    <div class="ion-text-center heading ion-padding">
      {{ "forgotPasswordPage.title" | translate }}
    </div>
    <div class="ion-text-center ion-padding">
      <ion-text> {{ "forgotPasswordPage.welcomeText" | translate }} </ion-text>
    </div>
    <div class="d-flex flex-column w-100 mt-4">
      <div class="fw-bold small">
        {{ "loginPage.loginForm.labels.mobileNumber" | translate }}
      </div>
      <mat-form-field appearance="outline" style="width: 100%">
        <span matTextPrefix>+255 &nbsp;</span>
        <input
          placeholder="Enter Mobile"
          matInput
          placeholder="{{
            'loginPage.loginForm.labels.mobileNumber' | translate
          }}"
          [formControl]="mobile_number"
          type="tel"
        />
        <!-- <mat-error>Please fill</mat-error> -->
        <!-- <mat-hint
          *ngIf="mobile_number.value && !mobile_number.value.startsWith('0')"
          align="end"
        >
          <strong>
            {{ "loginPage.loginForm.hints.mobileNumber" | translate }}
          </strong>
        </mat-hint> -->
        <mat-error>
          <ng-container *ngIf="mobile_number.hasError('required')">
            {{ "defaults.errors.pleaseFill" | translate }}
          </ng-container>
          <ng-container *ngIf="mobile_number.hasError('pattern')">
            {{ "loginPage.loginForm.errors.invalidPhoneNumber" | translate }}
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- <button
      color="accent"
      form="reset-password-form"
      expand="block"
      mat-flat-button
      type="submit"
      class="w-100 mt-3"
    >
      {{ "forgotPasswordPage.actions.send" | translate }}
    </button> -->
    <ion-button
      type="ngSubmit"
      form="reset-password-form"
      expand="block"
      class="w-100 mt-3"
    >
      {{ "forgotPasswordPage.actions.send" | translate }}
    </ion-button>
    <hr class="line mt-4" />
    <button (click)="loginpage()" mat-button type="button" color="primary">
      {{ "forgotPasswordPage.haveAccountText" | translate }}
    </button>
  </form>
</ion-content>
