img {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 8px solid #ffffff;
  background: ghostwhite;
}
.heading {
  font-weight: 700;
  margin-top: 15px;
  font-size: 1.2em;
}
ion-content {
  margin-left: 16px;
  margin-right: 16px;
  --background: var(--sys-surface);
}
hr.line {
  border: 1px solid black;
  margin: 4px 4px;
  margin-top: 20px;
}
.link {
  margin-top: 20px;
  color: grey;
  margin-left: 5px;
}
on-router-link {
  color: black;
}
.content {
  margin-left: 16px;
  margin-right: 16px;
}
input {
  font-size: 1.2em;
}
