<app-navbar (languageChanged)="onLanguageChanged()"></app-navbar>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div
    class="flex flex-col w-full h-[340px] mb-8 mt-0 bg-[var(--sys-surface-container-lowest)] relative"
  >
    <div class="w-full h-full flex flex-col p-4">
      <h6
        class="text-[var(--sys-shadow)] !font-semibold uppercase mat-title-large"
      >
        {{eventname}}
      </h6>
      <ion-grid class="!w-full">
        <ion-row class="!w-full !h-24">
          <ion-col size="6">
            <ng-container *ngIf="chartOptions">
              <highcharts-chart
                #chartCol
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                [constructorType]="chartConstructor"
                [callbackFunction]="chartCallback"
                [(update)]="updateFromInput"
                [oneToOne]="true"
                class="w-full h-full relative"
              >
              </highcharts-chart>
            </ng-container>
          </ion-col>
          <ion-col size="6" class="flex flex-col relative w-full">
            <div class="flex flex-col w-full">
              <ion-text>
                {{'dashboardPage.topBanner.chart.in' | translate}}
              </ion-text>
              <ion-text class="!font-semibold"> {{guestIn}} </ion-text>
            </div>
            <div class="flex flex-col w-full">
              <ion-text>
                {{'dashboardPage.topBanner.chart.remaining' | translate}}
              </ion-text>
              <ion-text class="!font-semibold" color="danger">
                {{remains}}
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div
        class="w-full h-fit grid place-items-center absolute left-1/2 -translate-x-1/2 bottom-4"
      >
        <img
          (click)="startScanning()"
          src="assets/icon/qr-code.png"
          class="w-[70px]"
        />
        <ion-text class="!text-center !text-xs">
          {{'dashboardPage.clickHereToVerifyGuest' | translate}}
        </ion-text>
      </div>
    </div>
    <div
      class="absolute right-0 w-full h-0.5 border-2 border-dashed border-[var(--sys-outline)] bottom-28"
    ></div>
    <div
      class="w-24 h-24 rounded-full bg-[var(--sys-background)] absolute bottom-16 -left-12"
    ></div>
    <div
      class="w-24 h-24 rounded-full bg-[var(--sys-background)] absolute bottom-16 -right-12"
    ></div>
  </div>
  <div class="last">
    <ion-searchbar
      placeholder="{{'dashboardPage.search' | translate}}"
      showCancelButton="focus"
      [formControl]="filterTerm"
    ></ion-searchbar>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center my-2">
      <ng-container>
        <button
          *ngIf="showingList; else fabListButton"
          mat-mini-fab
          (click)="showingList = true"
        >
          <mat-icon matPrefix svgIcon="card-checklist"></mat-icon>
        </button>
        <ng-template #fabListButton>
          <button mat-icon-button (click)="showingList = true">
            <mat-icon matPrefix svgIcon="card-checklist"></mat-icon>
          </button>
        </ng-template>
      </ng-container>
      <ng-container>
        <button
          *ngIf="!showingList; else fabTableButton"
          mat-mini-fab
          (click)="showingList = false"
        >
          <mat-icon matPrefix svgIcon="table"></mat-icon>
        </button>
        <ng-template #fabTableButton>
          <button mat-icon-button (click)="showingList = false">
            <mat-icon matPrefix svgIcon="table"></mat-icon>
          </button>
        </ng-template>
      </ng-container>
    </div>
    <ng-container *ngIf="showingList; else tableView">
      <div [@inOutAnimation] id="list-view" class="d-flex flex-column">
        <div
          *ngFor="let invitee of dataSource.filteredData | slice
        : 1 + paginator.pageSize * paginator.pageIndex - 1
        : 1 +
            paginator.pageSize * paginator.pageIndex +
            paginator.pageSize -
            1; index as ind;"
          class="flex flex-col divide-y h-50 mb-2 rounded px-2 py-1 shadow-sm list-card"
          [class]="ind % 2 === 0 ? 'gray-color' : 'bg-white'"
          [@listAnimationDesktop]="dataSource.filteredData.length"
        >
          <div
            *ngFor="let column of 'dashboardPage.checkedInviteesTable' | translate; index as i"
            class="d-flex align-items-center justify-content-between p-1"
          >
            <ion-text class="font-light">{{column}}</ion-text>
            <ion-text
              *ngIf="i !== CheckedInviteesTable.SCANNED; else scannedTemplate"
              class="text-right font-normal"
              >{{getTableValue(invitee,i)}}</ion-text
            >
            <ng-template #scannedTemplate>
              <ion-text
                [ngClass]="getInviteeScanStatusColor(invitee.scan_status)"
                class="text-right"
              >
                {{invitee.scan_status}}
              </ion-text>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #tableView>
      <div class="overflow-auto">
        <table
          *ngIf="listOfInvitee"
          [@inOutAnimation]
          class="table table-striped table-striped"
        >
          <thead>
            <tr>
              <th
                *ngFor="let column of 'dashboardPage.checkedInviteesTable' | translate; index as i"
              >
                <ion-text>{{column}}</ion-text>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let invitee of dataSource.filteredData | slice
          : 1 + paginator.pageSize * paginator.pageIndex - 1
          : 1 +
              paginator.pageSize * paginator.pageIndex +
              paginator.pageSize -
              1; index as ind;"
              class="listMargin"
              [@listAnimationDesktop]="dataSource.filteredData.length"
            >
              <td
                *ngFor="let column of 'dashboardPage.checkedInviteesTable' | translate; index as i"
              >
                <ion-text
                  *ngIf="i !== CheckedInviteesTable.SCANNED; else scannedTemplate"
                  class="text-right"
                  >{{getTableValue(invitee,i)}}</ion-text
                >
                <ng-template #scannedTemplate>
                  <ion-text
                    [ngClass]="getInviteeScanStatusColor(invitee.scan_status)"
                    >{{invitee.scan_status}}</ion-text
                  >
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <ng-container
      *ngIf="dataSource.data.length > 0 && dataSource.filteredData.length === 0"
    >
      <ion-text
        >{{("defaults.labels.filterNoDataFound" | translate)}}
        <b>"{{filterTerm.value}}"</b></ion-text
      >
    </ng-container>
    <div class="mt-2 pt-2">
      <mat-paginator
        #paginator
        [length]="dataSource.filteredData.length"
        [pageSize]="5"
        [pageSizeOptions]="[5]"
        [showFirstLastButtons]="true"
        class="!bg-[var(--sys-primary)] !text-white"
      ></mat-paginator>
    </div>
  </div>
</ion-content>
