:root.dark {
  --sys-background: #111318;
  --sys-on-background: #e2e2e9;
  --sys-surface: #111318;
  --sys-surface-dim: #111318;
  --sys-surface-bright: #37393e;
  --sys-surface-container-lowest: #0c0e13;
  --sys-surface-container-low: #1a1b20;
  --sys-surface-container: #1e2025;
  --sys-surface-container-high: #282a2f;
  --sys-surface-container-highest: #33353a;
  --sys-on-surface: #e2e2e9;
  --sys-surface-variant: #44474f;
  --sys-on-surface-variant: #c5c6d0;
  --sys-inverse-surface: #e2e2e9;
  --sys-inverse-on-surface: #2f3036;
  --sys-outline: #8f9099;
  --sys-outline-variant: #44474f;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #afc6ff;
  --sys-primary: #afc6ff;
  --sys-on-primary: #142f60;
  --sys-primary-container: #2d4578;
  --sys-on-primary-container: #d9e2ff;
  --sys-inverse-primary: #465d91;
  --sys-secondary: #90cef4;
  --sys-on-secondary: #00344a;
  --sys-secondary-container: #004c69;
  --sys-on-secondary-container: #c4e7ff;
  --sys-tertiary: #bec2ff;
  --sys-on-tertiary: #262b61;
  --sys-tertiary-container: #3d4279;
  --sys-on-tertiary-container: #e0e0ff;
  --sys-error: #ffb3b5;
  --sys-on-error: #561d22;
  --sys-error-container: #723337;
  --sys-on-error-container: #ffdada;
  --sys-neutral: #76777d;
  --sys-neutral-variant: #757780;
  --sys-primary-fixed: #d9e2ff;
  --sys-primary-fixed-dim: #afc6ff;
  --sys-on-primary-fixed: #001944;
  --sys-on-primary-fixed-variant: #2d4578;
  --sys-secondary-fixed: #c4e7ff;
  --sys-secondary-fixed-dim: #90cef4;
  --sys-on-secondary-fixed: #001e2c;
  --sys-on-secondary-fixed-variant: #004c69;
  --sys-tertiary-fixed: #e0e0ff;
  --sys-tertiary-fixed-dim: #bec2ff;
  --sys-on-tertiary-fixed: #10144b;
  --sys-on-tertiary-fixed-variant: #3d4279;
  --sys-inverse-secondary: #1d6586;
  --sys-inverse-tertiary: #555a92;
  --sys-inverse-error: #8f4a4e;
  --sys-error-fixed: #ffdada;
  --sys-error-fixed-dim: #ffb3b5;
  --sys-on-error-fixed: #3b080f;
  --sys-on-error-fixed-variant: #723337;
}
