/* :root,
:host {
  --sys-background: #f9f9ff;
  --sys-on-background: #1a1b20;
  --sys-surface: #f9f9ff;
  --sys-surface-dim: #d9d9e0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f3f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e8e7ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #1a1b20;
  --sys-surface-variant: #e1e2ec;
  --sys-on-surface-variant: #44474f;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #757780;
  --sys-outline-variant: #c5c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #465d91;
  --sys-primary: #5260ff;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d9e2ff;
  --sys-on-primary-container: #2d4578;
  --sys-inverse-primary: #afc6ff;
  --sys-secondary: #1d6586;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #c4e7ff;
  --sys-on-secondary-container: #004c69;
  --sys-tertiary: #555a92;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #e0e0ff;
  --sys-on-tertiary-container: #3d4279;
  --sys-error: #8f4a4e;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdada;
  --sys-on-error-container: #723337;
  --sys-neutral: #76777d;
  --sys-neutral-variant: #757780;
  --sys-primary-fixed: #d9e2ff;
  --sys-primary-fixed-dim: #afc6ff;
  --sys-on-primary-fixed: #001944;
  --sys-on-primary-fixed-variant: #2d4578;
  --sys-secondary-fixed: #c4e7ff;
  --sys-secondary-fixed-dim: #90cef4;
  --sys-on-secondary-fixed: #001e2c;
  --sys-on-secondary-fixed-variant: #004c69;
  --sys-tertiary-fixed: #e0e0ff;
  --sys-tertiary-fixed-dim: #bec2ff;
  --sys-on-tertiary-fixed: #10144b;
  --sys-on-tertiary-fixed-variant: #3d4279;
  --sys-inverse-secondary: #90cef4;
  --sys-inverse-tertiary: #bec2ff;
  --sys-inverse-error: #ffb3b5;
  --sys-error-fixed: #ffdada;
  --sys-error-fixed-dim: #ffb3b5;
  --sys-on-error-fixed: #3b080f;
  --sys-on-error-fixed-variant: #723337;
} */

:root,
:host {
  --sys-background: #f9f9ff;
  --sys-on-background: #1a1b20;
  --sys-surface: #f9f9ff;
  --sys-surface-dim: #d9d9e0;
  --sys-surface-bright: #f9f9ff;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f3f3fa;
  --sys-surface-container: #ededf4;
  --sys-surface-container-high: #e8e7ee;
  --sys-surface-container-highest: #e2e2e9;
  --sys-on-surface: #1a1b20;
  --sys-surface-variant: #e1e2ec;
  --sys-on-surface-variant: #acadb1;
  --sys-inverse-surface: #2f3036;
  --sys-inverse-on-surface: #f0f0f7;
  --sys-outline: #757780;
  --sys-outline-variant: #c5c6d0;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #465d91;
  --sys-primary: #465d91;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #d9e2ff;
  --sys-on-primary-container: #2d4578;
  --sys-inverse-primary: #afc6ff;
  --sys-secondary: #1d6586;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #c4e7ff;
  --sys-on-secondary-container: #004c69;
  --sys-tertiary: #555a92;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #e0e0ff;
  --sys-on-tertiary-container: #3d4279;
  --sys-error: #eb445a;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdada;
  --sys-on-error-container: #723337;
  --sys-neutral: #76777d;
  --sys-neutral-variant: #757780;
  --sys-primary-fixed: #d9e2ff;
  --sys-primary-fixed-dim: #afc6ff;
  --sys-on-primary-fixed: #001944;
  --sys-on-primary-fixed-variant: #2d4578;
  --sys-secondary-fixed: #c4e7ff;
  --sys-secondary-fixed-dim: #90cef4;
  --sys-on-secondary-fixed: #001e2c;
  --sys-on-secondary-fixed-variant: #004c69;
  --sys-tertiary-fixed: #e0e0ff;
  --sys-tertiary-fixed-dim: #bec2ff;
  --sys-on-tertiary-fixed: #10144b;
  --sys-on-tertiary-fixed-variant: #3d4279;
  --sys-inverse-secondary: #90cef4;
  --sys-inverse-tertiary: #bec2ff;
  --sys-inverse-error: #ffb3b5;
  --sys-error-fixed: #ffdada;
  --sys-error-fixed-dim: #ffb3b5;
  --sys-on-error-fixed: #3b080f;
  --sys-on-error-fixed-variant: #723337;
}
