<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <ion-loading #ionLoading spinner="circles"></ion-loading>
  <div class="d-flex flex-column">
    <ion-text class="display-4">
      {{ "switchEvent.welcomeText" | translate }}
    </ion-text>
    <ion-text class="small">
      {{ "switchEvent.selectEventText" | translate }}
    </ion-text>
  </div>
  <mat-list role="list" class="w-100">
    <mat-list-item
      class="w-100"
      role="listitem"
      *ngFor="let eventDetail of eventsList; index as ind"
    >
      <mat-radio-button
        (change)="eventChanged(ind)"
        [checked]="ind === selected"
        color="primary"
        [value]="eventDetail.event_id"
        class="w-100"
      >
        {{ eventDetail.event_name }}
      </mat-radio-button>
    </mat-list-item>
  </mat-list>
  <!-- <button
    color="accent"
    mat-flat-button
    type="button"
    class="w-100 mt-4"
    (click)="openDashboard()"
  >
    {{ "loginPage.loginButtonText" | translate }}
  </button> -->
  <ion-button expand="block" class="w-100 mt-4" (click)="openDashboard()">
    {{ "loginPage.loginButtonText" | translate }}
  </ion-button>
</ion-content>
