<app-navbar></app-navbar>
<ion-content class="ion-padding">
  <ion-loading #ionLoading spinner="circles"></ion-loading>
  <div class="flex flex-col w-full">
    <ion-text class="display-4">
      {{ "switchEvent.welcomeText" | translate }}
    </ion-text>
    <ion-text class="small">
      {{ "switchEvent.selectEventText" | translate }}
    </ion-text>
  </div>
  <div *ngIf="eventsList.length > 0" class="flex flex-col w-full space-y-4">
    <mat-list role="list" class="!w-full">
      <mat-list-item
        class="!w-full"
        role="listitem"
        *ngFor="let eventDetail of eventsList; index as ind"
      >
        <mat-radio-button
          (change)="eventChanged(ind)"
          [checked]="ind === selected"
          color="primary"
          [value]="eventDetail.event_id"
          class="!w-full"
        >
          {{ eventDetail.event_name }}
        </mat-radio-button>
      </mat-list-item>
    </mat-list>
    <ion-button
      [disabled]="selected === -1"
      expand="block"
      class="!w-full"
      (click)="openDashboard($event)"
    >
      {{ "defaults.actions.continue" | translate }}
    </ion-button>
  </div>
</ion-content>
